@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 50px;
}

body {
  background-color: black;
  color: white;
  font-family: "Orbitron", sans-serif;
  overflow: hidden;
}

.enlace {
  color: orange;
}

.letra {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

.info-text-box {
  border: solid 1px;
  height: auto;
  width: 250px;
  margin: 20px;
  float: left;
  padding: 5px;
}

.bg-dark{
  background-color: #00000081;
}

.nombre {
  text-align: center;
  font-weight: bold;
}

footer {
  text-align: center;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  opacity: 50%;
}