
.inicio {
    background-image: url('./assets/img/BO6.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.nombre {
    float: right;
    border: solid 1px;
    margin: 20px;
    padding: 5px;
}