.inicio-fondo {
    background-image: url('./assets/img/BO6.webp');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-position: center;
}

.contedor {
    background-color: orange;
    padding: 10px;
}