.formulario-fondo {
  background-image: url('../../assets/img/formulario.webp');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px;
}

.formulario-fondo h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: orange
}

.campo label {
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
}

.campo input,
.campo textarea {
  width: 25%;
  padding: 20px;
  border-radius: 10px;
  background-color: #3b3b3b;
  color: white;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.enviar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 14px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.borrar {
  background-color: black;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.checkbox-container span {
  font-size: 16px;
  cursor: pointer;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 15px
  
}

.checkbox-container input {
width: auto;
}
