.informacion-fondo {
  background-image: url('../assets/img/informacion.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.fusiles-new {
    border: solid 1px;
    height: auto;
    width: 350px;
    margin: 20px;
    float: left;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}